[run]
branch = True
source = text_analyzer, filters, constants, feedback, session, app, logger, html_renderer, text_utils, analysis_strategies
omit =
    */tests/*

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = ../../report/coverage_html
